html {
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-size: 1.5rem;
	font-family: "Roboto", sans-serif;

	padding: 0;
	margin: 0;
	min-height: 100vh;
	background: linear-gradient(
		90deg,
		hsla(208, 7%, 55%, 1) 0%,
		hsla(191, 5%, 40%, 1) 100%
	);
}

/* ===============Utils=============== */
.container {
	width: 85%;
	margin-inline: auto;
	border: 1px solid gold;
}

.about,
.contact {
	border: 2px solid green;
	padding-top: 7rem;
	display: grid;
	min-height: 100vh;
}

/* ============================Header================= */
header {
	border-bottom: 1px solid red;
	height: 7rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

header nav {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	font-size: 2rem;
	position: relative;
}

/* =====HEADER NAVIGATION===== */

header nav > * {
	border: 1px solid green;
	margin: 0;
}

header nav .hamburger {
	display: none;
}

header nav .icon {
	font-size: 3.5rem;
	cursor: pointer;
}

header nav .logo {
	font-family: cursive;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 2.5rem;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(
		90deg,
		hsla(333, 100%, 53%, 1) 0%,
		hsla(33, 94%, 57%, 1) 100%
	);
}

header nav ul {
	display: flex;
	padding: 0;
	gap: 3rem;
}

header nav ul li {
	position: relative;
	list-style: none;
	padding: 0.5rem 0;
	width: fit-content;
	cursor: pointer;
}

header nav ul li a {
	color: inherit;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}

header nav ul li a.active-link {
	border-radius: 5px;
	padding: 0.5rem 1rem;
	background-color: aquamarine;
}

header nav ul li a:hover {
	color: aquamarine;
}

header nav ul li a.active-link:hover {
	color: black;
}

/* =========================About==================== */
.about {
	grid-template-columns: 53% 43%;
	gap: 3%;
}

/* -----About Text----- */
.about__text {
	border: 2px solid blue;
	display: grid;
	place-items: center;
}

.about__text_container > * {
	margin: 0;
}

.about__text_container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	border: 2px solid green;
	width: 100%;
	font-family: "Roboto Slab", serif;
}

.about__text_container .desc {
	font-size: 3.8rem;
	font-weight: 700;
}

.about__text_container p {
	font-weight: 500;
	font-size: 2.5rem;
}

/* ----About Image---- */
.about__image {
	border: 2px solid red;
	display: grid;
	place-items: center;
}

.about__image_conatiner {
	width: 90%;
	height: 80%;
	border: 2px solid green;
	box-shadow: -20px -20px 0 rgba(0, 0, 0, 0.4), -10px -10px 0 rgba(0, 0, 0, 0.6);
}

.about__image_conatiner img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* ========================Contact===================== */
.contact {
	place-items: center;
	grid-template-columns: 1fr;
}

.contact_container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.contact_container > * {
	margin: 0;
}

.contact_container h3 {
	width: 100%;
	padding: 10rem 0;
	font-size: 4rem;
	text-align: center;
	border-bottom: 2px solid #5d5d5d;
}

.contact_address {
	margin-top: 10rem;
	width: 70%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
}

.contact_address > * {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact_address span a {
	border: 2px solid transparent;
	border-radius: 10px;
	padding: 3rem 0;
	text-align: center;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: #5d5d5d;
	transition: 0.3s ease-in-out;
}

.contact_address span a:hover {
	border-color: #5d5d5d;
	background-color: transparent;
}

.contact_address span a.twitter {
	color: #1da1f2;
}

.contact_address span a.github {
	color: #171515;
}

.contact_address span a.whatsapp {
	color: #25d366;
}
.contact_address span a.email {
	color: #00aff0;
}

.contact_address .icon {
	font-size: 6rem;
}

/* ========================Media Query===================== */
@media screen and (max-width: 700px) {
	.contact_address {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}

	.contact_container h3 {
		padding: 5rem 0;
		font-size: 3rem;
	}

	.contact_address span a {
		padding: 2rem 0;
	}

	.contact_address .icon {
		font-size: 4rem;
	}
}

@media screen and (max-width: 850px) {
	.about {
		grid-template-columns: 1fr;
	}

	.about__image {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.about__text_container .desc {
		font-size: 3rem;
		font-weight: 700;
	}

	.about__text_container p {
		font-weight: 500;
		font-size: 1.8rem;
	}

	.about__text_container {
		gap: 3rem;
	}
}

@media screen and (max-width: 800px) {
	/*=========== Header =========== */
	header nav ul {
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 100%;
		width: 15rem;
	}

	header nav ul.show_nav {
		display: block;
	}

	header nav ul.hide_nav {
		display: none;
	}

	header nav ul li {
		width: 100%;
		text-align: center;
		padding: 1rem 0;
	}

	header nav ul li a {
		display: inline-block;
		width: 100%;
	}

	header nav ul li a:hover {
		color: aquamarine;
	}

	header nav ul li a.active-link:hover {
		color: black;
	}

	header nav .hamburger {
		display: block;
	}
}
